<manifest package="com.github.st1hy.daohistorydb"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <provider
            android:name="com.github.st1hy.sabre.dao.OpenedImageContentProvider"
            android:authorities="com.github.st1hy.sabre.dao.provider"
            android:exported="false"/>
    </application>

</manifest>
